body {
    font-family: 'Prompt', sans-serif !important;
}
.bgnav {
    background-color: rgb(73 53 20);
    color: #fff !important;
    padding-bottom: 0px !important;
}
.navbrand {
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
}
.navbar-toggler {
    color: #fff !important;
    font-size: xx-large !important;
}

.container {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;

}
.btnfixed {
    font-size: inherit !important;
    font-weight: bold !important;
}
.btnnav {
    padding: 0.5rem 1rem 0.5rem 1rem !important;
    font-size: large !important;
    font-weight: bold !important;
}


.button{
    position:inherit;
    display:inline-block;
    margin:-5px 0px 5px 0px;
  }
  
  .button a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size:1.2rem;
    text-align: center;
    text-decoration:none;
    background-color:#FFA12B;
    display:block;
    position:relative;
    padding:1rem 1rem;
    width:max-content;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .button a:active{
    top:10px;
    background-color:#F78900;
    
    -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
    -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
    box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  }
  
  .button:after{
    content:"";
    height:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }